.homepage-container {
    padding-top: 40px;
    padding-bottom: 50px;
    .custom-border.only-mobile {
        display: none;
        @include breakpoint($sm-down)   {
            display: block;
        }
    }
    .featured-slider {
        padding: 0 5% 40px;
        .single-slide {
            position: relative;
            figure {
                width: 80%;
                padding: 0 2px;
            }
            .content {
                width: 450px;
                padding: 0 40px;
                height: 80%;
                right: 5%;
                background-color: white;
                @include vertical-align(absolute);
                @include box-shadow(0px 2px 12px 3px rgba(0,0,0,.2));
                .wrapper {
                    height: 100%;
                    position: relative;
                    .inner-wrapper {
                        @include vertical-align(absolute);
                        time {
                            color: #999999;
                            font-size: 14px;
                            text-transform: uppercase;
                            font-family: "Ubuntu Light";
                        }
                        .title {
                            font-family: "Ubuntu Regular";
                            padding-bottom: 5px;
                            padding-top: 5px;
                            font-size: 26px;
                            line-height: 28px;
                            color: $main_color;
                        }
                        .description-text {
                            font-family: "Calibri Light";
                            font-size: 15px;
                            padding-bottom: 10px;
                            line-height: 18px;
                            color: $main_color;
                            @include breakpoint($xxs-500) {
                                display: none;
                            }
                        }
                        .btn-container {
                            font-weight: bold;
                            font-size: 18px;
                            color: $light_blue;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint($md-only)    {
        .featured-slider {
            .single-slide {
                figure {
                    width: 100%;
                }
                .content {
                    height: 75%;
                }
            }
        }
    }
    @include breakpoint($sm-down) {
        .featured-slider {
            padding-bottom: 0;
            .single-slide {
                figure {
                    width: 100%;
                }
                .content {
                    width: 100%;
                    position: static;
                    transform: none;
                    height: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 15px;
                    @include box-shadow(none);
                    .wrapper {
                        .inner-wrapper {
                            width: 100%;
                            position: static;
                            transform: none;
                            padding-bottom: 20px;
                            time {
                                font-weight: bold;
                            }
                            .title {
                                font-size: 20px;
                                padding-bottom: 5px;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include breakpoint($xs)    {
        .featured-slider {
            .single-slide {
                .content {
                    .wrapper {
                        .inner-wrapper {
                            width: 100%;
                            position: static;
                            transform: none;
                            padding-bottom: 20px;
                            time {
                                font-weight: bold;
                                font-size: 14px;
                            }
                            .title {
                                font-size: 18px;
                            }
                            .btn-container {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}