@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.eot");
    src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
         url("../fonts/OpenSans-SemiBold.woff") format("woff"),
         url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calibri Light";
    src: url("../fonts/calibril.eot");
    src: url("../fonts/calibril.eot?#iefix") format("embedded-opentype"),
         url("../fonts/calibril.woff2") format("woff2"),
         url("../fonts/calibril.woff") format("woff"),
         url("../fonts/calibril.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Calibri Regular";
    src: url("../fonts/Calibri.eot");
    src: url("../fonts/Calibri.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Calibri.woff2") format("woff2"),
         url("../fonts/Calibri.woff") format("woff"),
         url("../fonts/Calibri.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("../fonts/Ubuntu-L.eot");
    src: url("../fonts/Ubuntu-L.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Ubuntu-L.woff2") format("woff2"),
         url("../fonts/Ubuntu-L.woff") format("woff"),
         url("../fonts/Ubuntu-L.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Regular";
    src: url("../fonts/Ubuntu-R.eot");
    src: url("../fonts/Ubuntu-R.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Ubuntu-R.woff2") format("woff2"),
         url("../fonts/Ubuntu-R.woff") format("woff"),
         url("../fonts/Ubuntu-R.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}